name: Build Pico Firmware

on:
  push:
    branches: [ "experimental" ]
  pull_request:
    branches: [ "experimental" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      PICO_SDK_PATH: ${{ github.workspace }}/pico-sdk

    steps:
    - uses: actions/checkout@v4

    # Install the ARM Toolchain and CMake
    - name: Install Toolchain
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc-arm-none-eabi libnewlib-arm-none-eabi build-essential cmake

    # Clone the Pico SDK (Required for RP2040 build)
    - name: Clone Pico SDK
      run: |
        git clone https://github.com/raspberrypi/pico-sdk.git $PICO_SDK_PATH
        cd $PICO_SDK_PATH
        git submodule update --init

    # Build the Project
    - name: Run CMake and Make
      run: |
        mkdir build
        cd build
        cmake ..
        make